.row {
    max-width: $grid-width;
    // background-color: #eee;
    margin: 0 auto;
    @include clearfix;
    
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    [class^="col-"] {
        // background-color: orangered;
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col {
        &-1 {
            width: calculateColumnWidth(1);
        }

        &-2 {
            width: calculateColumnWidth(2);
        }

        &-3 {
            width: calculateColumnWidth(3);
        }

        &-4 {
            width: calculateColumnWidth(4);
        }

        &-5 {
            width: calculateColumnWidth(5);
        }

        &-6 {
            width: calculateColumnWidth(6);
        }

        &-7 {
            width: calculateColumnWidth(7);
        }

        &-8 {
            width: calculateColumnWidth(8);
        }

        &-9 {
            width: calculateColumnWidth(9);
        }

        &-10 {
            width: calculateColumnWidth(10);
        }

        &-11 {
            width: calculateColumnWidth(11);
        }

        &-12 {
            width: calculateColumnWidth(12);
        }
    }
}